// FONT
$roboto-font: 'Roboto',
sans-serif;

// FONT-WEIGHT
$weight-small: 400;
$weight-medium: 500;
$weight-large: 700;

// FONT-STYLE
$normal-style: normal;

// FONT-SIZE
$size-10: 10px;
$size-12: 12px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-32: 32px;

// FONT-LINE-HEIGHT
$height-14: 14px;
$height-16: 16px;
$height-22: 22px;
$height-26: 26px;
$height-28: 28px;
$height-44: 44px;

// COLOR
$blue: #7795ff;
$black: #333333;
$grey: #ababab;
$light-grey: #f8f8f8;
$light-blue: #8ea7ff;
$dark-blue: #7291FF;
$light-blue-add: #6DD5FA;
$red: #ff6767;
$white: #ffffff;